Segundaeva/XML/Practica_2/Practica_2_4/Practica_2_4.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT PERFIL (PERSONA, DIRECCION, COD_POSTAL)>
<!ELEMENT PERSONA (NOMBRE_COM, APODO)+>
<!ELEMENT NOMBRE_COM (#PCDATA)>
<!ELEMENT APODO (#PCDATA)>
<!ELEMENT DIRECCION (CALLE, CIUDAD, PAIS)>
<!ELEMENT CALLE (#PCDATA)>
<!ELEMENT CIUDAD (#PCDATA)>
<!ELEMENT PAIS (#PCDATA)>
<!ELEMENT COD_POSTAL (#PCDATA)>