Segundaeva/XML/Practica_3/Practica_3_2/Practica_3_2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT biblioteca (libro+)>
<!ELEMENT libro (titulo, autores, a単o_publi, editorial, ISBN, fecha_comp)>
<!ATTLIST libro recomendado (Si | No) #REQUIRED>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autores (autor+)>
<!ELEMENT autor (nombre, apellido)>
<!ATTLIST autor pais CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT a単o_publi (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT ISBN (#PCDATA)>
<!ELEMENT fecha_comp (dia, mes, a単o)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT a単o (#PCDATA)>
