Segundaeva/XML/Practica_4/Practica_4_4/Practica_4_4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="libreria">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libro" maxOccurs="25">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="titulo">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="25"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <xs:element name="autor" type="xs:string"/>

                            <xs:element name="editorial">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Planeta"/>
                                        <xs:enumeration value="Bruguera"/>
                                        <xs:enumeration value="Minotauro"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <xs:element name="isbn" type="xs:string" minOccurs="0"/>

                            <xs:element name="importe">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="5"/>
                                        <xs:maxInclusive value="25"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <xs:element name="paginas" type="xs:integer"/>

                            <xs:element name="prestado" type="xs:boolean" default="false"/>

                            <xs:element name="fechaCompra" type="xs:date"/>

                            <xs:element name="ubicacion" maxOccurs="2">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="armario">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:minInclusive value="1"/>
                                                    <xs:maxInclusive value="10"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>

                                        <xs:element name="balda">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:minInclusive value="1"/>
                                                    <xs:maxInclusive value="6"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>