Segundaeva/XML/Practica_4/Practica_4_1/Practica_4_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="libro">
        <xs:complexType>
            <xs:all>
                <xs:element name="titulo" type="xs:string"/>
                <xs:element name="autor" type="xs:string" minOccurs="0"/>
                <xs:element name="editorial" type="xs:string"/>
                <xs:element name="isbn" type="xs:string"/>
                <xs:element name="importe" type="xs:decimal"/>
                <xs:element name="paginas" type="xs:int"/>
                <xs:element name="prestado" type="xs:boolean"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>