Segundaeva/XML/Practica_2/Practica_2_2/Practica_2_2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT libro (titulo, autores, publicacion, editorial, isbn, fecha_compra)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autores (autor+)>
<!ELEMENT autor (nombre, apellidos)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT publicacion (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT isbn (#PCDATA)>
<!ELEMENT fecha_compra (dia, mes, año)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT año (#PCDATA)>